@charset "ISO-8859-1";

	h2{
			text-align: center;
			padding: 50px;
			font-family: sans-serif;
			font-weight: bold;
		}
		body{
			background-color: lightgrey;
		}
		#home-icon{
			 position: absolute;
		     top: 0px;
		     right: 0px;
		     color : black;
		}

		#back-icon{
			 position: absolute;
		     top: 0px;
		     right: 50px;
		     color: black;
		}